
/*diseño del buscador en general*/
.buscad{
    position: absolute;
    left: 48%;
    top: 6%;
    transform: translate(-50%,-50%);
    padding: 10px;
}
input {
    outline: none;
    box-sizing: border-box;
    height: 50px;
    width: 0;
    padding: 0 20px;
    color: black;
    border-radius: 50px;
    font-size: 20px;
    border: 1px solid hsl(209, 93%, 53%);
    transition: all .7s ease;
}

::placeholder{
    color: grey;
}
.btn{
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    height: 70px;
    background: hsl(209, 93%, 53%);
    line-height: 10px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}
.btn i{
    font-size:  25px;
    color: white;
    line-height: 70px;
    transition: all .7 ease;
}

.buscad:hover input{
    width: 500px;
}

.buscad:hover i{
    transform: rotate(-360deg);
}
.btn:hover{
    background: #8ac0ce;
}