.login-container p {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 10px; 
    background-color: rgb(226, 235, 240,0.0); 
    text-align: center; 
    font-style: italic;
    font-size: 10px;
    color: white;
}
/* estilo del conainer login*/
.login-container {
    background-color: rgba(87, 112, 150, 0.3);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    text-align: center;
    max-width: 400px;
    border: 2px solid transparent;
    transition: border-color 0.3s ease-in-out;
    }
.login-container:hover {
        border: 2px solid #ffffff; /* Cambia el borde a blanco al pasar el mouse */
    }

h1 {
    margin-bottom: 20px;
    color: #fffefe;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #fffcfc;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #444;
}
/* estilo a la imagen icono de login*/
.login-container img {
    width: 90px; /* Ajusta el ancho de la imagen según tus necesidades */
    height: 90px; /* Ajusta el alto de la imagen según tus necesidades */
    margin-bottom: 5px; /* Agrega un margen inferior para separar la imagen del encabezado */
    }

    @media screen and (max-width: 768px) {
        .login-container {
            padding: 20px; /* Reduce el espacio interior del contenedor */
            max-width: 100%; /* Hace que el contenedor ocupe todo el ancho disponible */
        }
        .login-container img {
            width: 60px; /* Reduce el tamaño de la imagen */
            height: 60px;
        }
        h1 {
            font-size: 24px; /* Reduce el tamaño del encabezado */
        }
        label {
            font-size: 14px; /* Reduce el tamaño de las etiquetas */
        }
        input[type="text"],
        input[type="password"] {
            font-size: 14px; /* Reduce el tamaño de los campos de entrada */
        }
        input[type="submit"] {
            padding: 8px 16px; /* Reduce el espacio de los botones */
        }
        .login-container p {
            font-size: 8px; /* Reduce el tamaño del texto inferior */
        }
    }