body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* estilo del conainer login*/
.login-container {
    background-color: rgba(87, 112, 150, 0.7);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    border: 2px solid transparent;
    transition: border 0.3s ease-in-out;
    }
.login-container:hover {
        border: 2px solid #fff; /* Cambia el borde a blanco al pasar el mouse */
    }

h1 {
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #444;
}
/* estilo a la imagen icono de login*/
.login-container img {
    width: 90px; /* Ajusta el ancho de la imagen según tus necesidades */
    height: 90px; /* Ajusta el alto de la imagen según tus necesidades */
    margin-bottom: 5px; /* Agrega un margen inferior para separar la imagen del encabezado */
    }