body{
    background: url(img/fond\ seg.jpg);
    font-family: monospace;
}

.tabla_libros{
    width: 50%;
   
    margin: 110px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 50px;
}
.titulos, .dato {
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulos{
    font-weight: bold;
    font-size: 1.5em;
}
.dato {
    padding: 1px;
    font-size: 15px;
}